[Unit]
Description=Looker Application
After=network.target

[Service]
ExecStart=/home/looker/looker/looker start
ExecStop=/home/looker/looker/looker stop
Type=simple
PIDFile=/home/looker/looker/.tmp/looker.pid
User=looker
WorkingDirectory=/home/looker/looker
TimeoutStartSec=500

[Install]
WantedBy=default.target
